body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: snow;
    position: relative;
}


main {
    padding-left: 15%;
}

.left-nav {
    position: relative;
    width: 15%;
    height: 100%;
}

.left-nav header {
    position : fixed;
    width: inherit;
    top: 0px;
    left: 0px;
    z-index: 1;

    font-size: 50%;
    letter-spacing: 1px;
    background-image: url("img/cloud.png");
    background-size: contain;
}

.left-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    width: 15%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: auto;
    
    color: lightpink;
    background-color: mistyrose;
    font-family: heavy-heap, sans-serif;
    font-size: 175%;
    line-height: 50px;
    text-align: center;
}

.left-nav li a {
    display: block;
    color: lightpink;
    text-decoration: none;
}

.left-nav li a:hover:not(.active) {
    color: deeppink;
}

.left-nav li a.active {
    color: mistyrose;
    background-color: palevioletred;
    width: inherit;
}

.left-nav li a.active:hover{
    background-color: deeppink;
}

.left-nav img {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    overflow: hidden;
}

h1 {
    color: deeppink;
    font-family: heavy-heap, sans-serif;
    font-size: 400%;
    text-align: center;
}

h2 {
    color: mediumvioletred;
    background-color: mistyrose;
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border-left: 5px solid mediumvioletred;
    border-radius: 7px;
    width: fit-content;
}

h3 {
    color: hotpink;
    font-size: 100%;
    margin: 0px;
}

p {
    color: palevioletred;
    margin: 20px 75px;
    text-indent: 50px;
    overflow-wrap: break-word;
}

.blob {
    position: fixed;
    right: 30px;
    top: 30px;
    display: inline;

    width: 50px;
    height: 50px;
    color: deeppink;
    background-color: mistyrose;
    border: 2px solid deeppink;
    border-radius: 50px;
    padding: 10px;

    font-size: 125%;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.blob:hover {
    color: mistyrose;
    background-color: deeppink;
}

.text-content p {
    columns: 250px 2;
    column-gap: 15px;
}

#weather {
    position: relative;
}

#weather li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    top: 0;
}

#weather li, #weather a {
    height: 44px;
    display: block;
}

#sunny {
    left: 0px;
    width: 42px;
    background: url('img/icons.png') -64px 0px;
}

#rainy {
    left: 63px;
    width: 43px;
    background: url('img/icons.png') -64px 44px;
}

#cloudy {
    left: 129px;
    width: 43px;
    background: url('img/icons.png') 0px 44px;
}

#sunny:hover {
    background: url('img/icons.png') 0px 0px;   
}

#rainy:hover {
    background: url('img/icons.png') -129px -60px;   
}

#cloudy:hover {
    background: url('img/icons.png') -129px 0px;   
}

@font-face {
    font-family: 'heavy-heap';
    src: url('https://chlottesjunk.github.io/css/fonts/heavy_heap-webfont.woff2') format('woff2'),
         url('https://chlottesjunk.github.io/css/fonts/heavy_heap-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
