body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: snow;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 5px 20px;
}

.header img {
    width: 70px;
    float: left;
}

.header h1 {
    width: 500px;
    padding-left: 100px;
}

h1 {
    color: deeppink;
    font-size: 200%;
}

h2 {
    color: mediumvioletred;
    background-color: mistyrose;
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border-left: 5px solid mediumvioletred;
    border-radius: 7px;
    width: fit-content;
}

h3 {
    color: hotpink;
    font-size: 100%;
    margin: 0px;
}

p {
    color: palevioletred;
    margin: 20px;
}
