@font-face {
    font-family: 'heavy_heapregular';
    src: url('https://chlottesjunk.github.io/css/fonts/heavy_heap-webfont.woff2') format('woff2'),
         url('https://chlottesjunk.github.io/css/fonts/heavy_heap-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif !important;
    background-color: snow;
}

h1 {
    color: deeppink;
    font-family: heavy_heapregular, sans-serif;
    font-size: 250%;
    text-align: center;
}

h2 {
    color: mediumvioletred;
    background-color: mistyrose;
    font-size: 150%;
    margin: 5px;
    padding: 10px;
    border-left: 5px solid mediumvioletred;
    border-radius: 7px;
    width: fit-content;
}

h3 {
    color: hotpink;
    font-size: 100%;
    margin: 0px;
}

p {
    color: palevioletred;
    margin: 200px;
    text-align: justified;
}
